body {
    background-color: #ffffff;
    font-family: "Muli", sans-serif;
    color: #041e44;
}

.section-title-skills {
    padding-bottom: 20px;
}

@media only screen and (max-width: 767px) {
    html,
    body {
        overflow-x: hidden;
    }

    .portfolio-content,
    .resume-content,
    .contact-content,
    .skills-section {
        overflow-x: hidden;
    }
}
