body {
  background-color: #ffffff;
  font-family: 'Muli', sans-serif;
  color: #041E44;
}

header {
  background: url("../images/header/banner@2x.png") no-repeat center;
  background-size: cover;
  min-height: 600px;
}

header .title-text {
  margin-top: 186px;
  text-align: left;
}

header .title-text h1 {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: bold;
}

header .title-text h4 {
  font-size: 28px;
  font-weight: bold;
}

header .title-text p {
  font-size: 24px;
}

header .image-rounded {
  border-radius: 1.25rem !important;
}

header .btn-cv {
  max-width: 203px;
  background-color: #F2A816;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 23px;
  float: left;
}

header .btn-cv:hover {
  background-color: #F3B12F;
  color: #ffffff;
}

header .btn-more {
  max-width: 203px;
  margin-left: 20px;
  background-color: #052758;
  color: #ffffff;
  font-size: 22px;
  border-radius: 10px;
  padding: 10px 17px;
  float: left;
}

header .btn-more:hover {
  background-color: #0A3C85;
  color: #ffffff;
}

header .pic-avatar {
  margin-top: 65px;
  max-width: 370px;
  max-height: 471px;
}

header .pic-avatar .socmed {
  margin-left: 35px;
}

header .pic-avatar .socmed img {
  margin-top: 25px;
  margin-right: 20px;
  max-width: 30px;
  max-height: 30px;
}

.portfolio-header {
  margin-top: 60px;
}

.portfolio-header h1 {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: bold;
}

.portfolio-header h4 {
  font-size: 24px;
  color: #D8930C;
}

.portfolio-header hr {
  width: 411px;
  color: #041E44;
}

.portfolio-content .nav-link {
  color: #041E44;
}

.portfolio-content .nav-link.active {
  color: #D8930C;
}

.portfolio-content .filter-porto {
  font-size: 24px;
  font-weight: bold;
  color: #041E44;
}

.portfolio-content .filter-porto.active {
  color: #D8930C;
}

.portfolio-content .filter-porto:hover {
  color: #D8930C;
}

.portfolio-content .filter-porto.focus,
.portfolio-content .filter-porto:focus {
  outline: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.portfolio-content .porto-image {
  margin-top: 40px;
}

.portfolio-content .porto-image .porto-gallery {
  margin-bottom: 20px;
}

.portfolio-content .porto-image .overlay {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.portfolio-content .porto-image img {
  width: 100%;
  max-height: 250px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio-content .porto-image img:hover {
  opacity: 0.7;
}

.portfolio-content .porto-image .over-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
}

.portfolio-content .porto-image .porto-gallery:hover .over-text {
  opacity: 1;
  display: inline-block;
}

.portfolio-content .porto-image .over-title {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 80px;
}

.portfolio-content .porto-image .over-info {
  font-size: 18px;
  font-weight: bold;
  color: #F2A816;
}

.portfolio-content .porto-image .over-divider {
  border-width: 1px;
  background-color: #041E44;
  width: 130px;
}

.skill {
  background-color: #F6F6F6;
  margin-top: -140px;
}

.skill .skill-header {
  margin-top: 200px;
}

.skill .skill-header h1 {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: bold;
}

.skill .skill-header h4 {
  font-size: 24px;
  color: #D8930C;
}

.skill .skill-content {
  margin-top: 60px;
}

.skill .skill-content .skill-item {
  margin-bottom: 30px;
}

.skill .skill-content .skill-name {
  font-size: 22px;
}

.skill .skill-content .skill-value-one {
  font-size: 22px;
  float: right;
  margin-right: 35px;
}

.skill .skill-content .skill-value-two {
  font-size: 22px;
  float: right;
  margin-right: 85px;
}

.skill .skill-content .skill-value-three {
  font-size: 22px;
  float: right;
  margin-right: 60px;
}

.skill .skill-content .skill-value-four {
  font-size: 22px;
  float: right;
  margin-right: 140px;
}

.skill .skill-content .skill-value-five {
  font-size: 22px;
  float: right;
  margin-right: 115px;
}

.skill .skill-content .skill-value-six {
  font-size: 22px;
  float: right;
  margin-right: 195px;
}

.skill .skill-content .skill-value-seven {
  font-size: 22px;
  float: right;
  margin-right: 195px;
}

.skill .skill-content .skill-value-eight {
  font-size: 22px;
  float: right;
  margin-right: 245px;
}

.skill .skill-content .skill-value-nine {
  font-size: 22px;
  float: right;
  margin-right: 115px;
}

.skill .skill-content .progress {
  background-color: #D1CBCB;
}

.skill .skill-content .skill-bar {
  background-color: #F2A816;
}

.skill .skill-footer {
  height: 100px;
}

.resume-header {
  margin-top: 60px;
}

.resume-header h1 {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: bold;
}

.resume-header h4 {
  font-size: 24px;
  color: #D8930C;
}

.resume-content {
  margin-top: 50px;
}

.resume-content .resume-item {
  margin-bottom: 30px;
}

.resume-content h4 {
  font-size: 28px;
  font-weight: bold;
}

.resume-content .list-group {
  margin-top: 20px;
}

.resume-content .list-group-item {
  background-color: #041E44;
  border-left-color: #D8930C;
  border-left-width: 4px;
  border-bottom-color: #345380;
  border-bottom-width: 2px;
  padding-top: 30px;
  padding-right: 55px;
}

.resume-content .list-group-item img {
  margin-top: -7px;
  margin-left: -20px;
  max-width: 28px;
  max-height: 16px;
}

.resume-content .list-group-item .item-title {
  font-size: 22px;
  font-weight: bold;
  color: #F8F8F8;
  margin-left: 20px;
}

.resume-content .list-group-item .item-place-year {
  margin-top: 5px;
  margin-left: 33px;
  font-size: 18px;
  color: #8F9397;
}

.resume-content .list-group-item .item-description {
  margin-top: -3px;
  margin-left: 33px;
  font-size: 18px;
  color: #8F9397;
}

.resume-content .small-margin {
  padding-top: 17px;
}

.resume-content .large-margin {
  padding-top: 43px;
  padding-bottom: 40px;
}

.resume-content .resume-footer {
  height: 100px;
}

.contact-header {
  background-color: #041E44;
}

.contact-header h1 {
  margin-top: 60px;
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
}

.contact-header h4 {
  font-size: 24px;
  color: #D8930C;
}

.contact-content {
  background-color: #041E44;
}

.contact-content .contact-item {
  margin-bottom: -30px;
}

.contact-content .contact-item img {
  margin-top: 70px;
  width: 50px;
  height: 50px;
}

.contact-content .contact-item h4 {
  margin-top: 20px;
  font-size: 28px;
  color: #ffffff;
  font-weight: bold;
}

.contact-content .contact-item p {
  margin-top: 10px;
  font-size: 22px;
  color: #8F9397;
}

.contact-content .contact-item .socmed-footer {
  margin-left: 10px;
}

.contact-content .contact-item .socmed-footer img {
  margin-top: 10px;
  margin-right: 20px;
  max-width: 25px;
  max-height: 25px;
}

.contact-footer {
  background-color: #041E44;
  height: 60px;
}

footer {
  margin-top: 25px;
  margin-bottom: 20px;
}

footer h4 {
  font-size: 18px;
}

.modal-content {
  background-color: #041E44;
  border-radius: 10px;
}

.porto-modal-title {
  margin-top: 30px;
}

.porto-modal-title h3 {
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #F2A816;
}

.porto-modal-detail {
  padding: 30px;
  font-size: 18px;
  color: #ffffff;
}

.porto-modal-detail .porto-label {
  font-weight: normal;
}

.porto-modal-detail .carousel {
  margin-top: 30px;
}

.porto-modal-detail img {
  width: 100%;
}

.porto-modal-detail li {
  background-color: #F3B12F;
}

.porto-modal-detail .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23F3B12F' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.porto-modal-detail .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23F3B12F' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.porto-modal-detail .blupark-prev {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23041E44' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.porto-modal-detail .blupark-next {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23041E44' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

@media only screen and (max-width: 1199px) {
  header .pic-avatar .socmed {
    margin-left: 10px;
  }
  header .pic-avatar .socmed img {
    margin-top: 25px;
    margin-right: 15px;
    max-width: 30px;
    max-height: 30px;
  }
  .contact-content .contact-item .socmed-footer {
    margin-left: 0px;
  }
  .contact-content .contact-item .socmed-footer img {
    margin-top: 10px;
    margin-right: 12px;
    max-width: 25px;
    max-height: 25px;
  }
}

@media only screen and (max-width: 991px) {
  header {
    min-height: 420px;
  }
  header .title-text {
    margin-top: 100px;
  }
  header .title-text h1 {
    font-size: 38px;
  }
  header .title-text h4 {
    font-size: 22px;
  }
  header .title-text p {
    font-size: 20px;
  }
  header .btn-cv {
    font-size: 18px;
    padding: 8px 15px;
  }
  header .btn-more {
    font-size: 18px;
    padding: 8px 15px;
  }
  header .pic-avatar .socmed {
    margin-left: 15px;
  }
  header .pic-avatar .socmed img {
    margin-top: 25px;
    margin-right: 15px;
    max-width: 20px;
    max-height: 20px;
  }
  .portfolio-header h1 {
    font-size: 38px;
  }
  .portfolio-header h4 {
    font-size: 20px;
  }
  .portfolio-header hr {
    width: 331px;
  }
  .portfolio-content .filter-porto {
    font-size: 22px;
  }
  .skill .skill-header h1 {
    font-size: 38px;
  }
  .skill .skill-header h4 {
    font-size: 20px;
  }
  .skill .skill-content .skill-value-two {
    margin-right: 110px;
  }
  .skill .skill-content .skill-value-three {
    margin-right: 80px;
  }
  .skill .skill-content .skill-value-four {
    margin-right: 180px;
  }
  .skill .skill-content .skill-value-five {
    margin-right: 150px;
  }
  .skill .skill-content .skill-value-six {
    margin-right: 250px;
  }
  .skill .skill-content .skill-value-seven {
    margin-right: 250px;
  }
  .skill .skill-content .skill-value-eight {
    margin-right: 320px;
  }
  .skill .skill-content .skill-value-nine {
    margin-right: 150px;
  }
  .resume-header h1 {
    font-size: 38px;
  }
  .resume-header h4 {
    font-size: 20px;
  }
  .resume-content h4 {
    font-size: 24px;
  }
  .resume-content .list-group-item .item-title {
    font-size: 20px;
  }
  .resume-content .large-margin {
    padding-top: 28px;
    padding-bottom: 18px;
  }
  .contact-header h1 {
    font-size: 38px;
  }
  .contact-header h4 {
    font-size: 20px;
  }
  .contact-content .contact-item h4 {
    font-size: 24px;
  }
  .contact-content .contact-item p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  header {
    min-height: 300px;
  }
  header .title-text {
    margin-top: 70px;
  }
  header .title-text h1 {
    font-size: 28px;
  }
  header .title-text h4 {
    font-size: 18px;
  }
  header .title-text p {
    font-size: 16px;
  }
  header .btn-cv {
    max-width: 173px;
    margin-top: 10px !important;
    font-size: 16px;
    padding: 5px 10px;
  }
  header .btn-more {
    max-width: 173px;
    margin-left: 5px;
    margin-top: 10px !important;
    font-size: 16px;
    padding: 5px 10px;
  }
  header .pic-avatar {
    margin-top: 40px;
    max-width: 270px;
    max-height: 371px;
  }
  header .pic-avatar .socmed {
    margin-left: 7px;
  }
  header .pic-avatar .socmed img {
    margin-top: 20px;
    margin-right: 8px;
    max-width: 17px;
    max-height: 17px;
  }
  .portfolio-header h1 {
    font-size: 28px;
  }
  .portfolio-header h4 {
    font-size: 18px;
  }
  .portfolio-header hr {
    width: 301px;
  }
  .portfolio-content .filter-porto {
    font-size: 18px;
  }
  .skill .skill-header h1 {
    font-size: 28px;
  }
  .skill .skill-header h4 {
    font-size: 18px;
  }
  .skill .skill-content .skill-name {
    font-size: 20px;
  }
  .skill .skill-content .skill-value-one {
    font-size: 20px;
    margin-right: 35px;
  }
  .skill .skill-content .skill-value-two {
    font-size: 20px;
    margin-right: 85px;
  }
  .skill .skill-content .skill-value-three {
    font-size: 20px;
    margin-right: 60px;
  }
  .skill .skill-content .skill-value-four {
    font-size: 20px;
    margin-right: 140px;
  }
  .skill .skill-content .skill-value-five {
    font-size: 20px;
    margin-right: 115px;
  }
  .skill .skill-content .skill-value-six {
    font-size: 20px;
    margin-right: 195px;
  }
  .skill .skill-content .skill-value-seven {
    font-size: 20px;
    margin-right: 195px;
  }
  .skill .skill-content .skill-value-eight {
    font-size: 20px;
    margin-right: 245px;
  }
  .skill .skill-content .skill-value-nine {
    font-size: 20px;
    margin-right: 115px;
  }
  .resume-header h1 {
    font-size: 28px;
  }
  .resume-header h4 {
    font-size: 18px;
  }
  .resume-content h4 {
    font-size: 20px;
  }
  .resume-content .list-group-item .item-title {
    font-size: 18px;
  }
  .resume-content .list-group-item .item-place-year {
    font-size: 16px;
  }
  .resume-content .list-group-item .item-description {
    font-size: 16px;
  }
  .resume-content .resume-footer {
    height: 40px;
  }
  .resume-content .large-margin {
    padding-bottom: 15px;
  }
  .contact-header h1 {
    font-size: 28px;
  }
  .contact-header h4 {
    font-size: 18px;
  }
  .contact-content .contact-item img {
    margin-top: 50px;
  }
  .contact-content .contact-item h4 {
    font-size: 22px;
  }
  .contact-content .contact-item p {
    font-size: 18px;
  }
  footer h4 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 575px) {
  header {
    min-height: 490px;
  }
  header .title-text {
    text-align: center;
    margin-top: 45px;
  }
  header .title-text h1 {
    font-size: 36px;
  }
  header .title-text h4 {
    margin-top: -5px;
    font-size: 22px;
  }
  header .title-text p {
    margin-top: -5px;
    font-size: 20px;
  }
  header .btn-cv {
    max-width: 203px;
    margin-left: -230px;
    margin-top: 10px !important;
    font-size: 18px;
    padding: 8px 19px;
    float: none;
  }
  header .btn-more {
    max-width: 203px;
    margin-left: -162px;
    margin-top: 130px !important;
    font-size: 18px;
    padding: 8px 15px;
    float: none;
  }
  header .pic-avatar {
    margin-left: 200px;
    margin-top: -170px;
    max-width: 200px;
    max-height: 301px;
  }
  header .pic-avatar .socmed {
    margin-left: 7px;
  }
  header .pic-avatar .socmed img {
    margin-top: 15px;
    margin-right: 8px;
    max-width: 20px;
    max-height: 20px;
  }
  .portfolio-header h1 {
    font-size: 34px;
  }
  .portfolio-header h4 {
    font-size: 20px;
  }
  .portfolio-header hr {
    width: 331px;
  }
  .portfolio-content .filter-porto {
    font-size: 20px;
  }
  .skill .skill-header h1 {
    font-size: 34px;
  }
  .skill .skill-header h4 {
    font-size: 20px;
  }
  .skill .skill-content .skill-name {
    font-size: 18px;
  }
  .skill .skill-content .skill-value-one {
    font-size: 18px;
  }
  .skill .skill-content .skill-value-two {
    font-size: 18px;
  }
  .skill .skill-content .skill-value-three {
    font-size: 18px;
  }
  .skill .skill-content .skill-value-four {
    font-size: 18px;
  }
  .skill .skill-content .skill-value-five {
    font-size: 18px;
  }
  .skill .skill-content .skill-value-six {
    font-size: 18px;
  }
  .skill .skill-content .skill-value-seven {
    font-size: 18px;
  }
  .skill .skill-content .skill-value-eight {
    font-size: 18px;
    margin-right: 240px;
  }
  .skill .skill-content .skill-value-nine {
    font-size: 18px;
  }
  .resume-header h1 {
    font-size: 34px;
  }
  .resume-header h4 {
    font-size: 20px;
  }
  .resume-content h4 {
    font-size: 22px;
  }
  .resume-content .list-group-item .item-title {
    font-size: 20px;
  }
  .resume-content .list-group-item .item-place-year {
    font-size: 18px;
  }
  .resume-content .list-group-item .item-description {
    font-size: 18px;
  }
  .resume-content .large-margin {
    padding-bottom: 20px;
  }
  .contact-header h1 {
    font-size: 34px;
  }
  .contact-header h4 {
    font-size: 20px;
  }
  .contact-content .contact-item img {
    margin-top: 50px;
  }
  .contact-content .contact-item h4 {
    font-size: 24px;
  }
  .contact-content .contact-item p {
    font-size: 20px;
  }
  footer h4 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 500px) {
  .skill .skill-content .skill-name {
    font-size: 18px;
  }
  .skill .skill-content .skill-value-one {
    font-size: 18px;
  }
  .skill .skill-content .skill-value-two {
    font-size: 18px;
  }
  .skill .skill-content .skill-value-three {
    font-size: 18px;
  }
  .skill .skill-content .skill-value-four {
    font-size: 18px;
    margin-right: 125px;
  }
  .skill .skill-content .skill-value-five {
    font-size: 18px;
    margin-right: 100px;
  }
  .skill .skill-content .skill-value-six {
    font-size: 18px;
    margin-right: 170px;
  }
  .skill .skill-content .skill-value-seven {
    font-size: 18px;
    margin-right: 170px;
  }
  .skill .skill-content .skill-value-eight {
    font-size: 18px;
    margin-right: 215px;
  }
  .skill .skill-content .skill-value-nine {
    font-size: 18px;
    margin-right: 100px;
  }
}

@media only screen and (max-width: 460px) {
  header {
    min-height: 425px;
  }
  header .title-text {
    text-align: center;
    margin-top: 45px;
  }
  header .title-text h1 {
    font-size: 30px;
  }
  header .title-text h4 {
    margin-top: -5px;
    font-size: 20px;
  }
  header .title-text p {
    margin-top: -5px;
    font-size: 18px;
  }
  header .btn-cv {
    max-width: 203px;
    margin-left: -190px;
    margin-top: 10px !important;
    font-size: 16px;
    padding: 7px 15px;
  }
  header .btn-more {
    max-width: 203px;
    margin-left: -140px;
    margin-top: 120px !important;
    font-size: 16px;
    padding: 7px 11px;
  }
  header .pic-avatar {
    margin-left: 200px;
    margin-top: -150px;
    max-width: 160px;
    max-height: 261px;
  }
  header .pic-avatar .socmed {
    margin-left: 7px;
  }
  header .pic-avatar .socmed img {
    margin-top: 15px;
    margin-right: 8px;
    max-width: 18px;
    max-height: 18px;
  }
  .portfolio-header h1 {
    font-size: 30px;
  }
  .portfolio-header h4 {
    font-size: 18px;
  }
  .portfolio-header hr {
    width: 295px;
  }
  .portfolio-content .filter-porto {
    font-size: 18px;
  }
  .skill .skill-header h1 {
    font-size: 30px;
  }
  .skill .skill-header h4 {
    font-size: 18px;
  }
  .skill .skill-content .skill-name {
    font-size: 16px;
  }
  .skill .skill-content .skill-value-one {
    font-size: 16px;
  }
  .skill .skill-content .skill-value-two {
    font-size: 16px;
  }
  .skill .skill-content .skill-value-three {
    font-size: 16px;
  }
  .skill .skill-content .skill-value-four {
    font-size: 16px;
  }
  .skill .skill-content .skill-value-five {
    font-size: 16px;
  }
  .skill .skill-content .skill-value-six {
    font-size: 16px;
  }
  .skill .skill-content .skill-value-seven {
    font-size: 16px;
  }
  .skill .skill-content .skill-value-eight {
    font-size: 16px;
  }
  .skill .skill-content .skill-value-nine {
    font-size: 16px;
  }
  .resume-header h1 {
    font-size: 30px;
  }
  .resume-header h4 {
    font-size: 18px;
  }
  .resume-content h4 {
    font-size: 20px;
  }
  .resume-content .list-group-item .item-title {
    font-size: 18px;
  }
  .resume-content .list-group-item .item-place-year {
    font-size: 16px;
  }
  .resume-content .list-group-item .item-description {
    font-size: 16px;
  }
  .resume-content .large-margin {
    padding-bottom: 20px;
  }
  .contact-header h1 {
    font-size: 30px;
  }
  .contact-header h4 {
    font-size: 18px;
  }
  .contact-content .contact-item img {
    margin-top: 50px;
  }
  .contact-content .contact-item h4 {
    font-size: 22px;
  }
  .contact-content .contact-item p {
    font-size: 18px;
  }
  footer h4 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 383px) {
  header {
    min-height: 425px;
  }
  header .btn-cv {
    max-width: 203px;
    margin-left: -190px;
    margin-top: 10px !important;
    font-size: 16px;
    padding: 7px 15px;
  }
  header .btn-more {
    max-width: 203px;
    margin-left: -140px;
    margin-top: 120px !important;
    font-size: 16px;
    padding: 7px 11px;
  }
  header .pic-avatar {
    margin-left: 170px;
    margin-top: -150px;
    max-width: 160px;
    max-height: 261px;
  }
  header .pic-avatar .socmed {
    margin-left: 7px;
  }
  header .pic-avatar .socmed img {
    margin-top: 15px;
    margin-right: 8px;
    max-width: 15px;
    max-height: 15px;
  }
  .skill .skill-content .skill-name {
    font-size: 14px;
  }
  .skill .skill-content .skill-value-one {
    font-size: 14px;
    margin-right: 15px;
  }
  .skill .skill-content .skill-value-two {
    font-size: 14px;
    margin-right: 50px;
  }
  .skill .skill-content .skill-value-three {
    font-size: 14px;
    margin-right: 35px;
  }
  .skill .skill-content .skill-value-four {
    font-size: 14px;
    margin-right: 85px;
  }
  .skill .skill-content .skill-value-five {
    font-size: 14px;
    margin-right: 70px;
  }
  .skill .skill-content .skill-value-six {
    font-size: 14px;
    margin-right: 120px;
  }
  .skill .skill-content .skill-value-seven {
    font-size: 14px;
    margin-right: 120px;
  }
  .skill .skill-content .skill-value-eight {
    font-size: 14px;
    margin-right: 155px;
  }
  .skill .skill-content .skill-value-nine {
    font-size: 14px;
    margin-right: 70px;
  }
  .resume-content h4 {
    font-size: 20px;
  }
  .resume-content .list-group-item {
    padding-right: 20px;
  }
  .resume-content .list-group-item .item-title {
    font-size: 16px;
  }
  .resume-content .list-group-item .item-place-year {
    font-size: 14px;
  }
  .resume-content .list-group-item .item-description {
    font-size: 14px;
  }
  .resume-content .large-margin {
    padding-top: 23px;
    padding-bottom: 15px;
  }
  .contact-content .contact-item img {
    margin-top: 50px;
  }
  .contact-content .contact-item h4 {
    font-size: 20px;
  }
  .contact-content .contact-item p {
    font-size: 16px;
  }
  footer h4 {
    font-size: 12px;
  }
}
/*# sourceMappingURL=main.css.map */